@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
}

nav {
    height: 80px;
    background-color: rgb(172, 10, 10);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
    gap: 25px;
}

a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.link-hover {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.link-hover:hover {
    background-color: rgb(5, 5, 148);
}